
.example-container {
    height: 100vh;
  }
  
  mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .content {
    padding: 16px;
  }

  /* styles.scss veya component scss dosyanız */
.spacer {
  flex: 1 1 auto;
}

.dropdown-menu {
  min-width: 200px;
}

.dropdown-item i {
  margin-right: 8px;
  color: #6c757d; /* İkon rengi (gri) */
}

.dropdown button{
  background-color: #3F51B5;
  border: 0px;
}
  