.example-container {
    height: 100vh;
  }
  
  mat-sidenav {
    width: 250px; // Genişliği ayarlayabilirsiniz
    background: #fff; // Arka plan rengi
  }

  .content{
    background-color: #F6F8FA;
  }